# --- General ---
node_modules
dist
dist-ssr
.DS_Store

# --- Environment / Secrets ---
.env
.env.*
!.env.example # Es buena práctica subir el ejemplo sin valores reales
*.local

# --- TypeScript ---
*.tsbuildinfo

# --- Testing & Coverage ---
coverage/
*.lcov
.nyc_output/

# --- Expo (Si aplica) ---
.expo/
web-build/

# --- Editors ---
.vscode/*
!.vscode/extensions.json
.idea
*.sw?