# --- Editor directories ---
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json

# --- Expo & Metro ---
.expo/
dist/
web-build/
node_modules/
.metro-health-check*
expo-env.d.ts
.eas/

# --- Native Folders (Prebuild) ---
/ios
/android

# --- Secrets & Config ---
.env*.local
.env
*.keystore
*.jks
*.p12
*.p8
*.key
*.mobileprovision
credentials.json

# --- Testing & Coverage ---
coverage/
html/
test-results/
*.lcov
.eslintcache

# --- System & Debug ---
.DS_Store
*.pem
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
*.tsbuildinfo

# --- Others ---
app-example/